<!doctype html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>{{{meta_title}}}</title>
	<meta name="description" content="{{meta_description}}" />
	<meta name="HandheldFriendly" content="True" />
	<meta name="MobileOptimized" content="320" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
	<link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300italic,300" rel="stylesheet" type="text/css">
	<style>

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {color:inherit;margin:0;padding:0;border:none;font:inherit;font-size:100%}
		html {height:100%}
		body {background-color:rgb(239,239,239);color:rgb(0,0,0);font-family:'Roboto Condensed',sans-serif;font-size:24px;font-weight:300}
		aside {background-color:rgb(83,83,83);height:100%;position:fixed;top:0;width:33%;z-index:2}
		figure {background-image: url({{@blog.cover}});background-origin:content-box;background-position:center;background-size:cover;box-shadow:inset -2px 0 16px rgba(0,0,0,.2);min-height:100%;width:100%}
		figcaption {bottom:20px;color:rgb(255,255,255);font-size:14px;position:absolute;right:20px}
		a:hover {color:rgb(45,166,222)}
		h1, h2, h3, p, pre {margin-bottom:20px}
		em {font-style:italic}
		main {display:block;margin-left:33%}
		.wrapper {margin:0 auto;max-width:640px;padding:0 40px}
		.header {color:rgb(136,136,136);margin-top:60px}
		.content {background:rgb(255,255,255);box-shadow:0 2px 16px rgba(0,0,0,.1);margin-top:60px;padding:40px}
		article {margin-bottom:60px}
		article header {color:rgb(0,0,0);margin-bottom:20px}
		article header a {text-decoration:none}
		article header h1, article header h2 {margin-bottom:0}
		article header aside {font-size:14px}
		article header h4 {display:inline}
		article section {color:rgb(136,136,136)}
		article section h2, article section h3 {color:rgb(0,0,0)}
		article blockquote {border-left:4px solid rgb(239,239,239);padding-left:16px}
		article img {width:100%}
		article ol, article ul {margin-left:40px}
		article pre {background-color:rgb(239,239,239);border-radius:3px;padding:10px;overflow:scroll}
		code {background-color:rgb(239,239,239);color:rgb(136,136,136);font-family:monospace;font-size:18px;white-space:pre;word-break:normal;word-wrap:normal}
		article hr {background-color:rgb(136,136,136);border:none;height:2px}
		nav[role="pagination"] {color:rgb(136,136,136);font-size:14px}
		@media all and (max-width:900px) {
			aside {height:33%;width:100%;position:absolute}
			main {margin-left:0;position:absolute;top:33%;width:100%}
			.wrapper {padding:0 20px}
			.header, .content {margin-top:20px}
			.content {padding:20px}
		}
	</style>
	{{ghost_head}}
</head>
<body>
	<aside>
		<figure>
		</figure>
		<figcaption>
			Powered by <a href="https://ghost.org">Ghost</a>
		</figcaption>
	</aside>
	<main><div class="wrapper">
	{{{body}}}
	</div></main>
</body>
</html>