{{!< default}}

<header class="header">
	<h1>{{meta_title}}</h1>
	<p>{{meta_description}}</p>
</header>

<section class="content">
	{{#foreach posts}}
	<article class="{{post_class}}">
		<header>
			<a href="{{url}}"><h2>{{{title}}}</h2></a>
			<aside>Written by <h4>{{author.name}}</h4> on a {{date format="dddd"}}, <time datetime="{{date format='YYYY-MM-DD'}}">{{date timeago="true"}}</time>{{#if tags}}, about {{tags}}{{/if}}</aside>
		</header>
		<section>
		<p>{{excerpt}}&hellip;</p>
		</section>
	</article>
	{{/foreach}}
	{{pagination}}
</section>