{{!< default}}

<section class="content">
	<article class="{{post_class}}">

		{{#post}}
		<header>
			<h1>{{{title}}}</h1>
			<aside>Written by <h4>{{author.name}}</h4> on a {{date format="dddd"}}, <time datetime="{{date format='YYYY-MM-DD'}}">{{date timeago="true"}}</time>{{#if tags}}, about {{tags}}{{/if}}</aside>
		</header>
		<section>
			{{content}}
		</section>
		{{/post}}

	</article>
</section>