<!doctype html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>{{{@blog.title}}} ~ {{{meta_title}}}</title>
	<meta name="description" content="{{meta_description}}" />
	<meta name="HandheldFriendly" content="True" />
	<meta name="MobileOptimized" content="320" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
	<link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300italic,300" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="{{asset "css/default.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/post.css"}}" />
	{{ghost_head}}
</head>
<body>
	<aside class="night-toggle" onclick="document.body.classList.toggle('night')"></aside>
	<div class="outer-wrapper"><div class="inner-wrapper">
		<nav class="site-nav" role="site">
			<ul>
			  <li><a href="{{@blog.url}}">Inicio</a></li>
                                        <li><a href="{{@blog.url}}/plataforma">Plataforma</a></li>
                                        <li><a href="{{@blog.url}}/crowdfunding">Crowdfunding</a></li>
                                        <li><a href="{{@blog.url}}/colabora">Colabora</a></li>
					<li><a href="{{@blog.url}}/prensa">Prensa</a></li>

			</ul>
		</nav>
		<main class="blog">
			<article class="blog-post {{post_class}}">
				{{#post}}
				<header class="post-header">
					<h1>{{{title}}}</h1>
				</header>
				<section class="post-content">
					{{content}}
				</section>
				<footer class="post-footer">
					Written by <h4>{{author.name}}</h4> on a {{date format="dddd"}}, <time datetime="{{date format='YYYY-MM-DD'}}">{{date timeago="true"}}</time>{{#if tags}}, about {{tags}}{{/if}}
				</footer>
				{{/post}}
			</article>
		</main>
	</div></div>
</body>
</html>
